/*$Id$*/

/* Webfont: ZohoPuvi-Extralight */@font-face {
    font-family: 'ZohoPuviExtLt';
    src: url('Zoho-Puvi-Extralight.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Extralight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Extralight.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Extralight.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Light */@font-face {
    font-family: 'ZohoPuviLight';
    src: url('Zoho-Puvi-Light.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Light.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Light.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Regular */@font-face {
    font-family: 'ZohoPuvi';
    src: url('Zoho-Puvi-Regular.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Regular.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Semibold */@font-face {
    font-family: 'ZohoPuviSemBd';
    src: url('Zoho-Puvi-Semibold.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Semibold.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Bold */@font-face {
    font-family: 'ZohoPuvi';
    src: url('Zoho-Puvi-Bold.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Bold.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Extrabold */@font-face {
    font-family: 'ZohoPuviExtBd';
    src: url('Zoho-Puvi-Extrabold.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Extrabold.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Extrabold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Medium */@font-face {
    font-family: 'ZohoPuviMed';
    src: url('Zoho-Puvi-Medium.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Medium.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Thin */@font-face {
    font-family: 'ZohoPuviThin';
    src: url('Zoho-Puvi-Thin.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Thin.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: ZohoPuvi-RegularItalic */@font-face {
    font-family: 'ZohoPuvi';
    src: url('Zoho-Puvi-Regular-Italic.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Regular-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Regular-Italic.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Regular-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-SemiboldItalic */@font-face {
    font-family: 'ZohoPuviSemBd';
    src: url('Zoho-Puvi-Semibold-Italic.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Semibold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Semibold-Italic.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Semibold-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-BoldItalic */@font-face {
    font-family: 'ZohoPuvi';
    src: url('Zoho-Puvi-Bold-Italic.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Bold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Bold-Italic.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Bold-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Black */@font-face {
    font-family: 'ZohoPuviBlack';
    src: url('Zoho-Puvi-Black.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Black.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Black.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ZohoPuvi-Extrablack */@font-face {
    font-family: 'ZohoPuviExtBlk';
    src: url('Zoho-Puvi-Extrablack.eot'); /* IE9 Compat Modes */
    src: url('Zoho-Puvi-Extrablack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zoho-Puvi-Extrablack.woff') format('woff'), /* Modern Browsers */
         url('Zoho-Puvi-Extrablack.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
